<h1>Comment</h1>

<form action="/comments/upsert" role="form" method="post">
  <input type="hidden" name="_csrf" value="{{_csrfToken}}">
  <input type="hidden" name="id" value="{{comment.id}}"> // note the deleted user and book reference
  <div>
    <textarea rows="5" id="comment" name="comment">{{comment.comment}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

