<h1>Books</h1>
<a href="/books/form">Create a new book</a>
{{#each books}}
<li>
    {{@index}} - {{this.title}} - {{this.publishingYear}}
    <a href="/books/edit?id={{@index}}">edit</a>
</li>
{{/each}}


